<div class="page-header">
  <h1>Before Industry #<%= @before_industry.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @before_industry.user_id %></dd>

  <dt>Industry</dt>
  <dd><%= @before_industry.industry_id %></dd>

</dl>
