 <div class="container-fluid">
 <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Received Connection Requests</h1>
    <hr>
  </div>
 </div>

  <div class="container row-connect">
    <dl class="faq">
    <% if @request_connections.empty? %>
      <p class="text-center" style="font-size:20px">No found request in this moment</p>
    <% end %>

    <% @request_connections.each do |connection|%>
      <% u = connection.prospective_user %>
      <div class="row" >
        <div class="col-md-1" style="padding-top:30px">
          <dd></dd>
        </div>    
          <div class="col-md-7">     
            <h3><%= link_to u.full_name, profile_user_path(u), style: "color:#2c3e50" %></h3>
            <p><%= u.rigths_string %></p>
              <% if (connection.status == "established") %>
                <span class="text-muted visible-xs"><i class="fa fa-check-circle-o"></i>
                ACCEPTED</span>
              <% elsif (connection.status == "rejected") %>
                <span class="text-muted visible-xs"><i class="fa fa fa-times-circle-o"></i>REJECTED</span>
              <% end %>

            <div class="clearfix"></div>        
          </div>
          <div class="col-md-4">
            <% if (connection.status == "established") %>
              <div class="pull-right" style="line-height: 110px;">
                <span class="text-muted "><i class="fa fa-check-circle-o"></i>ACCEPTED</span>
              </div>
            <% elsif (connection.status == "rejected") %>
              <span class="text-muted "><i class="fa fa fa-times-circle-o"></i>REJECTED</span>
            <% elsif (connection.status == "pending") %>
              <div class="pull-right" style="line-height: 110px;">
                <%= link_to "<span class=\"fa fa-check-circle-o\"></span>".html_safe + "ACCEPT", response_connection_path(u,"accepted"), class: "btn btn-warning " %>
                <%= link_to "<span class=\"fa fa-check-circle-o\"></span>".html_safe + "REJECT", response_connection_path(u,"rejected"), class: "btn btn-warning " %>
              </div>
            <% end %>
          </div>
      </div>

    <% end %>
    </dl>
  </div>
</div>  