 <div class="container-fluid">
 <div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center title-sub ">
        <span >Received Connection Requests</span>
    </h1>
    <hr  class="visible-xs">
  </div>
 </div>

  <div class="container-fluid row-connect">
    <dl class="faq">
    <% if @request_connections.empty? %>
      <p class="text-center" style="font-size:20px">No found request in this moment</p>
    <% end %>

    <% @request_connections.each do |connection|%>
      <% u = connection.prospective_user %>
      <div class="row request_users" >
        <div class="col-md-1 col-sm-1 col-xs-2" style="padding-top:30px">
          <dd></dd>
          <div class="clearfix"></div>
        </div>    
          <div class="col-md-7 col-sm-4 col-xs-10">     
            <h3><%= link_to u.full_name, profile_user_path(u), style: "color:#2c3e50" %></h3>
            <p><%= u.rigths_string %></p>
              <% if (connection.status == "established") %>
                <span class="text-muted visible-xs"><i class="fa fa-check-circle-o"></i>
                ACCEPTED</span>
              <% elsif (connection.status == "rejected") %>
                <span class="text-muted visible-xs"><i class="fa fa fa-times-circle-o"></i>REJECTED</span>
              <% end %>

            <div class="clearfix"></div>        
          </div>
          <div class="col-md-4 col-sm-6 ">
            <% if (connection.status == "established") %>
              <div class="pull-right button-check-connect">
                <span class="text-muted hidden-xs "><i class="fa fa-check-circle-o"></i>ACCEPTED</span>
              </div>
            <% elsif (connection.status == "rejected") %>
              <span class="text-muted hidden-xs "><i class="fa fa fa-times-circle-o"></i>REJECTED</span>
            <% elsif (connection.status == "pending") %>
              <div class="pull-right button-check-connect" >
                <%= link_to "<span class=\"fa fa-check-circle-o\"></span>".html_safe + "ACCEPT", response_connection_path(u,"accepted"), class: "btn btn-warning " %>
                <%= link_to "<span class=\"fa fa-check-circle-o\"></span>".html_safe + "REJECT", response_connection_path(u,"rejected"), class: "btn btn-warning " %>
              </div>
            <% end %>
          </div>
      </div>

    <% end %>
    </dl>
  </div>
</div>  