<div class="container-fluid">
  <div class="row" style="margin: 0 10%">
    <h1 class="text-center"><span>Putting it in practice</span></h1>
    <hr>
  </div>

  <div class="container academics-row">
    
    <div class="row">
      <div class="line">
       <img src="img/sridharan_s.JPG" class="pull-left" >
       <h3>Accounting For Decision Making (ACCT-430-0)</h3>
       <p>This course acquaints students with the process used to construct and understand the financial reports of organizations. The objective is to understand the decisions that must be made in the financial reporting process and to develop the ability to evaluate and use accounting data. Emphasis is placed on understanding the breadth of accounting measurement practices and on being able to make the adjustments necessary for careful analysis. </p>
       <p>- Swaminathan Sridharan</p>        
      </div>
    </div>

     <div class="row">
       <div class="line">
         <img src="img/Wang_Clare_2012.jpg" class="pull-left" >
         <h3>Financial Reporting and Analysis (ACCT-451-0)</h3>
         <p>This course provides a study of current practices in corporate financial reporting and fundamental issues relating to asset valuation and income determination. The emphasis is on financial statement analysis and interpretation of existing financial disclosures. The course stresses critical analyses of financial reporting numbers as a basis for improved risk assessment and cash flow forecasting. Cases are used extensively to enhance relevance. </p>
         <p>- Wang Clare</p>
       </div>
    </div>

     <div class="row">
       <div class="line">
         <img src="img/balachandran_bala.jpg" class="pull-left" >
         <h3>Management Lab (ACCT-454-0)</h3>
         <p>This program helps students integrate concepts from their core courses and gain valuable consulting and field experience by tackling actual business problems and opportunities facing corporations and nonprofit firms in the Chicago area. In addition to attending weekly classes, students work directly with corporate and nonprofit institutions to understand, analyze and solve their problems in areas such as cost management, customer focus and response, benchmarking and new product development. Note: This course may not be dropped after the first week of the quarter.</p>
         <p>- Bala Balachandran</p>
       </div>
    </div>

    <div class="row">
       <div class="line">
         <img src="img/mckissack_c.jpg" class="pull-left" >
         <h3>Entrepreneurial Selling (KIEI-902-A)</h3>
         <p>This course will introduce you to the basics of selling and how you can use entrepreneurial techniques to make a difference in the success of your idea or inspire growth in your company. The class will focus on the fundamentals of sales and review the relationship of customer need identification and the reasons people buy. The course will help you develop your “entrepreneurial asking” skills to persuade your customers and business associates that your idea or solution will make the difference. You will master the six steps of selling as outlined in Ron Willingham’s book, Integrity Selling for the 21st Century. </p>
         <p>- Cheryl E. Mayberry McKissack</p>
       </div>
    </div>

     <div class="row">
       <div class="line">
         <img src="img/darragh_l.jpg" class="pull-left" >
         <h3>Innovation Lab I (KIEI-940-0)</h3>
         <p>This new experiential course is targeted to students who have business concepts that they would like to launch and that do not fit the industry sectors integrated in the existing NUvention courses (energy, web/mobile, medical, nano or social impact). The class will use the Lean Launchpad methodology and tailor the instruction to the characteristics of industries represented in the class such as consumer products & services. A significant portion of the workload for this course will occur outside of the classroom. Students must be prepared to test and validate their business model hypotheses by engaging with potential customers and industry experts.</p>
         <p>- Linda Darragh</p>
       </div>
    </div>
  </div>

    <div class="container" style="padding-top:40px">
      <div class="col-md-4 col-md-offset-4">
        <a href="https://www4.kellogg.northwestern.edu/CourseCatalogSchedule/" class="btn btn-warning">CHECK OUT THE COURSE CATALOG</a>
      </div>
    </div>
    
</div>