<div class="container-fluid">
  <div class="row col-md-6 col-md-offset-3" >
    <h1 class="text-center">Kellogg Alumni Global Citizens</h1>
    <hr>
  </div>
 
</div>

 <div>
    <img src="img/maps-alumni.jpg" width="100%" >
 </div>

  <div class="container">
    <div class="col-md-4 col-md-offset-4" style="padding-left:40px">
     <a href="http://kelloggalumni.northwestern.edu/homepages/index.asp" class="btn btn-warning">CHECK OUT THE ALUMNI CATALOG</a>
    </div>
  </div>