<div class="container-fluid">
  <div class="row" style="margin: 0 10%">

    <h1 class="text-center">The Kellogg Community</h1>
    <hr>
  </div>
  <div class="row">
    <div class="months-containter">
      <ul class="text-center months">
        <li>Sep</li>
        <li>Oct</li>
        <li>Nov</li>
        <li>Dec</li>
        <li>Jan</li>
        <li>Feb</li>
        <li>Apr</li>
        <li>May</li>
        <li>Jun</li>
      </ul>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/community-thumbnail.jpg" alt="..." width="100%">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="" role="button">read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/community-thumbnail.jpg" alt="..." width="100%">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="" role="button">read more</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/community-thumbnail.jpg" alt="..." width="100%">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="" role="button">read more</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/community-thumbnail.jpg" alt="..." width="100%">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="" role="button">read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/community-thumbnail.jpg" alt="..." width="100%">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="" role="button">read more</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/community-thumbnail.jpg" alt="..." width="100%">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="" role="button">read more</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/community-thumbnail.jpg" alt="..." width="100%">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="" role="button">read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/community-thumbnail.jpg" alt="..." width="100%">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="" role="button">read more</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <img src="img/community-thumbnail.jpg" alt="..." width="100%">
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a href="#" class="" role="button">read more</a>
        </div>
      </div>
    </div>
  </div>

</div>