 <div class="container-fluid">
 <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Received Connection Requests</h1>
    <hr>
  </div>
 </div>

  <div class="container row-connect">
    <dl class="faq">
    <div class="row">
      <dd>
        <div class="col-md-8">      
          <img src="img/teacher.jpg" class="pull-left" >
          <h3>Student Name</h3>
          <p>Prospective Student</p>
          <span class="text-muted visible-xs"><i class="fa fa-check-circle-o"></i>ACCEPTED</span>
          <div class="clearfix"></div>       
        </div>
        <div class="col-md-4 hidden-xs">
          <div class="pull-right" style="line-height: 110px;">
            <span class="text-muted "><i class="fa fa-check-circle-o"></i>ACCEPTED</span>
          </div>
          <div class="clearfix"></div>
        </div>
      </dd>
    </div>
    

    <div class="row" >
      <dd>
        <div class="col-md-8">      
          <img src="img/teacher.jpg" class="pull-left" >
          <h3>Student Name</h3>
          <p>Prospective Student</p>
          <span class="text-muted visible-xs"><i class="fa fa-check-circle-o"></i>ACCEPTED</span>
          <div class="clearfix"></div>        
        </div>
        <div class="col-md-4 hidden-xs">
          <div class="pull-right" style="line-height: 110px;">
            <span class="text-muted "><i class="fa fa-check-circle-o"></i>ACCEPTED</span>
          </div>
        </div>
      </dd>
    </div>
  

    <div class="row" >
      <dd>
        <div class="col-md-8">      
          <img src="img/teacher.jpg" class="pull-left" >
          <h3>Student Name</h3>
          <p>Prospective Student</p>
          <span class="text-muted visible-xs"><i class="fa fa-check-circle-o"></i>ACCEPTED</span>
          <div class="clearfix"></div>        
        </div>
        <div class="col-md-4 hidden-xs">
          <div class="pull-right" style="line-height: 110px;">
            <span class="text-muted "><i class="fa fa-check-circle-o"></i>ACCEPTED</span>
          </div>
        </div>
      </dd>
    </div>

    <div class="row" >
      <dd>
        <div class="col-md-8">      
          <img src="img/teacher.jpg" class="pull-left" >
          <h3>Student Name</h3>
          <p>Prospective Student</p>
          <span class="text-muted visible-xs"><i class="fa fa-check-circle-o"></i>ACCEPTED</span>
          <div class="clearfix"></div>        
        </div>
        <div class="col-md-4 hidden-xs">
          <div class="pull-right" style="line-height: 110px;">
            <span class="text-muted "><i class="fa fa-check-circle-o"></i>ACCEPTED</span>
          </div>
        </div>
      </dd>
    </div>

    <div class="row" >
      <dd>
        <div class="col-md-8">      
          <img src="img/teacher.jpg" class="pull-left" >
          <h3>Student Name</h3>
          <p>Prospective Student</p>
          <span class="text-muted visible-xs"><i class="fa fa-check-circle-o"></i>ACCEPTED</span>
          <div class="clearfix"></div>        
        </div>
        <div class="col-md-4 hidden-xs">
          <div class="pull-right" style="line-height: 110px;">
            <span class="text-muted "><i class="fa fa-check-circle-o"></i>ACCEPTED</span>
          </div>
        </div>
      </dd>
    </div>
    
    </dl>
   

  </div>

</div>  