<ol class="breadcrumb">
<div style="padding-left:20px">
  <li><a href="#" style="color:gray;font-size:12px">ADMIN/</a></li>
  <b style="font-size:25px">Dashboard</b>
</div>
</ol>

<div class="container-fluid">
  <div class="col-sm-4">
    <div class="well" style="margin: 10px 10px">
      <p class="text-center" style="font-size:85px">100</p>
      <p class="text-center">Registered Prospective Students</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well" style="margin: 10px 10px">
      <p class="text-center" style="font-size:85px">250</p>
      <p class="text-center">Connection Request</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well" style="margin: 10px 10px">
      <p class="text-center" ><span style="font-size:85px">1</span><span style="font-size:30px">hour</span> <span style="font-size:85px">12</span><span style="font-size:30px">mins.</span></p>
      <p class="text-center">Average time for a completed connection request</p>
    </div>
  </div>
  <div class="clearfix"></div>

  <div style="margin:20px 20px">
    <hr>
    <h3>Requets per Program</h3>

    <div class="col-sm-12 text-center">
      
      <div class="col-sm-2">
        <p style="font-size:60px">38</p>
        <p>Program A</p>
        <hr style="margin: 20px 35px; border: 1px solid green;">
      </div>

      <div class="col-sm-2">
        <p style="font-size:60px">55</p>
        <p>Program B</p>
        <hr style="margin: 20px 35px; border: 1px solid blue;">
      </div>

      <div class="col-sm-2">
        <p style="font-size:60px">63</p>
        <p>Program C</p>
        <hr style="margin: 20px 35px; border: 1px solid orange;">
      </div>

      <div class="col-sm-2">
        <p style="font-size:60px">38</p>
        <p>Program D</p>
        <hr style="margin: 20px 35px; border: 1px solid red;">
      </div>

      <div class="col-sm-2">
        <p style="font-size:60px">55</p>
        <p>Program E</p>
        <hr style="margin: 20px 35px; border: 1px solid purple;">
      </div>

      <div class="col-sm-2">
        <p style="font-size:60px">63</p>
        <p>Program F</p>
        <hr style="margin: 20px 35px; border: 1px solid orange;">
      </div>
      
    </div>
  </div>
  
  

  
</div>

