
<div class="jumbotron image-header" >
  <div class="container col-md-8">
    <h1>Meet other students that share your interests</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

    <% if user_signed_in? %>
      <%= link_to profile_path, class: "btn btn-warning btn-lg" do %>
        START CONNECTING HERE <span class="fa fa-long-arrow-right"></span>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "btn btn-warning btn-lg" do %>
        START CONNECTING HERE <span class="fa fa-long-arrow-right"></span>
      <% end %>
    <% end %>
  </div>

  
<div class="clearfix"></div>
</div>

<div class="container-fluid" style="margin:16px"> 
  <div class="img-center">
    <div class="col-md-3">
      <div class="img-container">
        <a href="/community"><img src="img/community.jpg" class="img-responsive" alt="Responsive image"></a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="img-container">
        <a href="/academics"><img src="img/academics.jpg" class="img-responsive" alt="Responsive image"></a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="img-container">
        <a href="/vision"><img src="img/vision.jpg" class="img-responsive" alt="Responsive image"></a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="img-container">
        <a href="/alumni"><img src="img/alumni.jpg" class="img-responsive" alt="Responsive image"></a>
      </div>
    </div>
  </div>
</div>







