<div class="row ">
  <div class="container col-md-5">
    <h1>Meet other students that shared your interests</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-warning btn-lg" role="button">START CONNECTING HERE -»</a></p>
  </div>
</div>

<div class="row">
  <div class="col-md-3">

  </div>

  <div class="col-md-3">
  </div>

  <div class="col-md-3">
  </div>

  <div class="col-md-3">
  </div>
</div>
