<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2">

    <div class="row" style="margin: 0 10%">
      <h1 class="text-center">Make a Connection</h1>
      <hr>
    </div>
  
    <form class="form-horizontal">
      <div class="form-group" style="padding:30px">
        <textarea rows="10" type="area" class="form-control" placeholder="Introduce yourself in less than 100 words"></textarea>
        
      </div>
      <div class="col-md-4 col-md-offset-4">
        <button class="btn btn-warning btn-lg">SEND REQUEST</button>
      </div>
    </form>
    
  </div>
</div>