 <div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Welcome to You@Kellogg</h1>
    <hr>
  </div>

    <div class="col-md-10 col-md-offset-2">
      <dl class="faq" style="counter-increment: my-badass-counter+1;">
        <dd style="padding-bottom:33px;font-size:20px"><strong>Tell us a little about yourselft</strong>.</dd>
      </dl>
      
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-md-10">
            <b class="subtitle">Contact Information</b>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-5">
            <input type="text" placeholder="Email Address" class="form-control"/>
          </div>
         </div>
        <div class="form-group">
          <div class="col-md-5">
            <input type="text" placeholder="First Name" class="form-control"/>
          </div>
          <div class="col-md-5"> 
            <input type="text" placeholder="Last Name" class="form-control"/>
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-10">
            <hr>
            <b class="subtitle">Current Job Information</b>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-5">
            <select class="form-control">
              <option>Select your courrent Country</option>
            </select>
            <br>
            <select class="form-control">
              <option>Select your courrent job industry</option>
            </select>
          </div>
          <div class="col-md-5">
            <select class="form-control">
              <option>Select your courrent State(US)</option>
            </select>
            <br>
            <select class="form-control">
              <option>Select your courrent job function</option>
            </select>
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-10">
            <hr>
            <b class="subtitle">MBA and Job Iterest Information</b>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10">
            <b>Programs of interest</b>
          </div>
        </div>


          <div class="form-group">  
            <div class="col-md-10">
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Program A 
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Program B 
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Program C 
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Program D
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Program E 
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Program F
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Programa G
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Program H 
                </div>
              </div>     
            </div>
          </div>


          <div class="form-group">
            <div class="col-md-5">
              <select class="form-control">
                <option>Select your industry of interest</option>
              </select>
            </div>
            <div class="col-md-5">
              <select class="form-control">
                <option>Select your function of interest</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10">
              <b>Professional Clubs of Interest - Max 3.</b>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-10">

              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Consulting Club
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Operations Club
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">General Management Club
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Design Club
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Black Management Association
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Kellogg Veterans Association
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Indian Business Club
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Asian Management Association
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Run, Bike, Swim Club
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Flag Football
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Boxing Blub
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Snowboard Club
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10">
              <b>Affinity Clubs of interest - Max 3.</b>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10">
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Consulting Club
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Operations Club
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">General Management Club
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Design Club
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Black Management Association
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Kellogg Veterans Association
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Indian Business Club
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Asian Management Association
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Run, Bike, Swim Club
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Flag Football
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Boxing Blub
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkbox">
                  <input type="checkbox" name="vehicle" value="Car">Snowboard Club
                </div>
              </div>
            </div>
          </div>

      </form>

    </div>  
 
 </div>