 <div class="container-fluid">

  <form class="form-horizontal pull-right col-md-2" style="padding-top:10px;margin-right: 9px">
      <div class="input-group  input-group-sm">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" placeholder="Search Student" class="form-control" />
      </div>
  </form>
   <div class="clearfix"></div> 
 <hr>

<div class="container-fluid">
  
  <div class="row-connect">
    
    <div class="row row-profile" >
      <div class="col-md-8">      
        <img src="img/teacher.jpg" class="pull-left" >
        <h3>Student Name</h3>
        <p>Current Student</p>
        <div class="clearfix"></div>       
      </div>
      <div class="col-md-4 ">
        <div class="pull-right" >
          <form class="form-horizontal" style="padding-top:30px">
            <div class="form-group">
              <select class="form-control">
                <option>Change user status</option>
              </select>
            </div>
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="row row-profile" >
      <div class="col-md-8">      
        <img src="img/teacher.jpg" class="pull-left" >
        <h3>Student Name</h3>
        <p>Current Student</p>
        <div class="clearfix"></div>       
      </div>
      <div class="col-md-4 ">
        <div class="pull-right">
          <form class="form-horizontal" style="padding-top:30px">
            <div class="form-group">
              <select class="form-control">
                <option>Change user status</option>
              </select>
            </div>
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div> 
</div>

</div>  