<div class="container-fluid">

  <div class="row" style="margin: 0 10%">
    <h1 class="text-center title-sub "><span >The Kellogg Vision</span></h1>
    <hr  class="visible-xs">
  </div>

  <div class="row">
    <div class="col-md-6">
      <iframe width="100%" height="350" src="//www.youtube.com/embed/UYafhyCFfhY" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="col-md-6">
      <dl class="faq">
       
        <dd>Our <strong>grounded wisdom</strong> that the marries the power of analytics and people.</dd>
       
        <dd>Our <strong>courageous and collaborative spirit</strong> that embraces and mobilizes the power of the team.</dd>

        <dd>Our <strong>pioneering vision</strong> that challenges convention and drives change across organizations, industries, markets and communities.</dd>
        
      </dl>
      <a href="https://www.youtube.com/user/KelloggSchool/" class="btn btn-warning">Check out Kellogg's Youtube channel</a>
    </div>
    <div class="clearfix"></div>
    <hr>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center">Kellogg Alumni: Joe De Pinto</h3>
      <iframe width="100%" height="315" src="//www.youtube.com/embed/p178fLGUsYg?showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
    </div> 

    <div class="col-md-4">
      <h3 class="text-center">Kellogg Alumni: Cassian Cheung</h3>
      <iframe width="100%" height="315" src="//www.youtube.com/embed/mRm1tqO4ADU?showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
    </div>  

    <div class="col-md-4">
      <h3 class="text-center">Kellogg Alumni: Andrew Youn</h3>
      <iframe width="100%" height="315" src="//www.youtube.com/embed/FJihuSBay9I?showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
    </div>     

  </div>


</div>