<div class="page-header">
  <h1>Editing Home #<%= @home.id %></h1>
</div>

<%= form_tag(home_url(@home), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Home", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
