<div class="page-header">
  <h1>Match #<%= @match.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Match index</dt>
  <dd><%= @match.match_index %></dd>

  <dt>User</dt>
  <dd><%= @match.user_id %></dd>

</dl>
