/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require frutigerltstd-light
 *= require sticky-footer-navbar
 */
body {
  background-color:rgb(245, 245, 245); 
  /*font-family: 'FrutigerLTStd45Light';*/
}

footer.container-fluid{
  margin-top: 40px;
  background-color:rgb(250,250,250);
  padding: 20px 25px;
  border-top: 2px solid #c4c4c4;
}

a{
  color: orange; 
}

a:hover{
  color: #ff7e00;
}
hr{
  border-top: 2px solid #C4C4C4; 
}

i.fa{
  padding-right: 7px;
}

.image-header{
  background-image: url("/img/header.jpg");
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

.img-center img{
  margin:auto;
}

.img-container{
  background-color: white;
  border: 2px solid #DFDFDF;
  border-radius: 4px;
}

.navbar-default{
  background-color: #6D3D7C;
}

.row{
  padding:0 50px;
}

.row-connect .row:not(:last-child){
  border-bottom: 1px solid #DFDFDF;
}

.row-connect .row{
  padding-top: 25px;
  padding-bottom:25px;
}

.row-connect .row > dd > * >img{
  padding-right: 10px;
}

.row-connect .row > dd{

}

div.academics-row > .row:not(:last-child) > .line{
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 25px;
}

div.academics-row > .row > div > img{
  width: 130px;
  margin: 0 20px 0 0;

}

.faq {
  counter-reset: my-badass-counter;
}
.faq dd {
  position: relative;
  padding: 4px 0 10px 0;
  margin: 0 0 0px 0;
  padding-left: 40px;
  line-height: 30px;
  font-size: 17px;
  font-family: sans-serif;
}
.faq dd:before {
  content: counter(my-badass-counter);
  counter-increment: my-badass-counter;
  position: absolute;
  left: 0;
  background-color: #B479C7;
  border-radius: 50px;
  color: white;
  padding: 0 11px;
  font-weight:bold;
  font-size: 17px;
}


.months{
  margin: 0;
}

.months > li{
  padding: 7px 33px;
  display: inline-block;
  background-color: gray;
  color:rgb(241, 241, 241);
  position: relative;
  margin-right: 24px;
  font-size: 20px;
  margin-bottom: 10px;
}
.months > li:before{
  right: 82%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: gray;
  border-left-color: transparent;
  border-width: 21px;
  margin-top: -21px;
}

.months > li:after{
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: gray;
  border-width: 21px;
  margin-top: -21px;
}

.months-containter{
  max-height:52px;
  overflow-x:hidden;

}
.breadcrumb{
  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #F0F0F0),
  color-stop(1, #CFCFCF)
);
background-image: -o-linear-gradient(bottom, #F0F0F0 0%, #CFCFCF 100%);
background-image: -moz-linear-gradient(bottom, #F0F0F0 0%, #CFCFCF 100%);
background-image: -webkit-linear-gradient(bottom, #F0F0F0 0%, #CFCFCF 100%);
background-image: -ms-linear-gradient(bottom, #F0F0F0 0%, #CFCFCF 100%);
background-image: linear-gradient(to bottom, #F0F0F0 0%, #CFCFCF 100%);
}

.well{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #EBEBEB;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

a.navbar-brand:hover{
  color:white !important;
}

.subtitle{
  color: rgb(66, 71, 213)
}

.btn-update{
  background-color: transparent;
  color: #ff7e00;
  border-width: 2px
}

.row-profile{
  padding: 0 23px;
}

.row-profile > hr{
  margin: 30px 13px
}

.fa{
  font-size: 18px
}
/*.btn{
  padding: 10px 15px 6px;
  font-weight: bold;
}*/

#footer > * > *> .fa{
  font-size: 30px;
  padding:0;
}

#footer > * > a:hover{
  text-decoration: none;
}

#error_explanation > h2 {
  font-size: 18px;
  color:red;
}

#error_explanation > ul{
  list-style-type: decimal;
}