@font-face {
    font-family: 'FrutigerLTStd45Light';
    src: url('/fonts/frutigerltstd-light.eot');
    src: url('/fonts/frutigerltstd-light.eot') format('embedded-opentype'),
         url('/fonts/frutigerltstd-light.woff') format('woff'),
         url('/fonts/frutigerltstd-light.ttf') format('truetype'),
         url('/fonts/frutigerltstd-light.svg#FrutigerLTStd45Light') format('svg');
}
