#header.header{
  background: #6D3D7C;
  font-size: 15px;
  padding: 16px 0;
}

#header ul.tabs > li a {
  color:white;
  padding: 6px 10px 6px 10px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
   border-radius: 5px;
   text-shadow: none;
}

#header ul.tabs > li.current > a {
  background: rgba(250,250,250,0.8);
  color: #6D3D7C;
}

#header ul.tabs > li:hover > a {
  background: rgba(250,250,250,0.8);
  color: #6D3D7C;
}

#header #utility_nav a:hover {
  color: #6D3D7C;
}

#header h1 {
  color:white;
  font-size: 19px;
}

.well{
  text-align: center;
}

.title-module{
  display: block;
  font-size: 85px;

  }

.description-module{
  display: block;
  font-size: 15px;
}

.title-size{
  font-size: 85px;
}

.description-size{
  font-size: 25px;
}

hr {
  border: 1px solid #C4C4C4;
}

.title-program{
  display: block;
  font-size: 60px;
}

.title-description{
  display: block;
  font-size: 15px;
}

.label{
  color:#252525
}

form fieldset ol > li label abbr {
  color: #252525;
}
#footer {
 position: relative;
 } 