<p>Dear <%= @user.email %>,</p>
<p>&nbsp;</p>
<p>Thank you for registering to You@Kellogg.</p>
<p>Our objective is to help you connect with relevant students at Kellogg and learn more about what Kellogg truly is.</p>

<p>&nbsp;</p>
<p>Now that you've filled your information you are ready to make a connection.</p>
<p><%= link_to "View your profile to make connection", profile_user_url(@user) %></p>
<p>&nbsp;</p>
<p>Thank you,<br>
The You@Kellogg team</p>
