<div class="page-header">
  <h1>Before Function #<%= @before_function.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @before_function.user_id %></dd>

  <dt>Function</dt>
  <dd><%= @before_function.function_id %></dd>

</dl>
